# Dependencies
/vendor/bundle/

# Jekyll
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build output
_site/

# Logs
*.log
